/*Settings iniciales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Lexend", sans-serif;
  background-color: #0e0b16;
  color: #ffffff;
  overflow-x: hidden; }

/*cambio la barra de scroll*/
body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-track {
  background: rgba(41, 41, 41, 0.158); }

body::-webkit-scrollbar-thumb {
  background-color: #550066;
  border-radius: 20px; }
