/*footer*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #261e3c;
    padding: 2rem;
    justify-content: center;
  }
  
  .credits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
  }
  
  .credits a {
    @include flex;
    text-decoration: none;
  }
  
  .credits a svg {
    width: 3em;
    height: 3em;
    fill: gray;
    transition: all 0.5s;
  }
  
  .credits a p {
    color: gray;
    transition: all 0.5s;
  }
  
  .credits a:hover svg {
    fill: $blanco;
  }
  
  .credits a:hover p {
    color: $blanco;
  }
  
  .community {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .communityLogos {
    @include flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-size: 1.8rem;
  }
  
  .communityLogos a {
    color: gray;
    transition: all 0.5s;
  }
  
  .communityLogos a:hover {
    color: $blanco;
  }
  
  .license {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }
  
  .license p {
    color: gray;
  }
  
  /*Register y Login*/
  
  .mainLoginRegister {
    @include flex;
    gap: 5rem;
    width: 100%;
    min-height: 100vh;
  }
  
  .formLoginRegister {
    width: 30rem;
    height: auto;
    background-color: #261e3c;
    color: $blanco;
    border-radius: 2rem;
    padding: 2rem;
    @include flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .formLoginRegister label {
    background-color: #1e1830;
    width: 80%;
    height: 4rem;
    @include flex;
  }
  
  .formLoginRegister label .icon {
    width: 50%;
    height: 100%;
    color: gray;
    @include flex;
    background-color: #171324;
  }
  
  .formLoginRegister label .icon ion-icon {
    font-size: 1.5rem;
  }
  
  .formLoginRegister label input {
    width: 150%;
    height: 100%;
    color: gray;
    border: none;
    @include flex;
    background-color: #1f1a30;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    transition: all 0.5s;
  }
  
  .formLoginRegister label:hover input {
    background-color: #161222;
    -webkit-appearance: none;
  }
  
  .formLoginRegister input:focus {
    background-color: #161222;
    border: none;
    outline: 0;
  }
  /*Eliminar los botones de cambiar numero en el imput number*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .formLoginRegister button {
    width: 70%;
    height: 3rem;
    @include flex;
    gap: 1rem;
  }
  
  .formLoginRegister button ion-icon {
    font-size: 2rem;
  }
  
  .formLoginRegister a {
    color: var(--rosa);
    text-decoration: none;
  }
  
  .formLoginRegister a:hover {
    text-decoration: underline;
  }
  
  .ilustracion {
    width: 40rem;
  }
  