/*responsive*/ /*Use las media querys de boostrap asi el diseño de la pagina es uniforme*/
@media screen and(max-width: 1300px) {
    /*En esta mq tuve que ampliar el width de boostrap para que la ilustracion de el login y register quede bien*/
    .inner-header {
      padding-left: 15vw;
      h1 {
        font-size: 3rem;
      }
    }
    .ilustracion {
      display: none;
    }
  }
  
  @media screen and(max-width: map-get($grid-breakpoints, lg)) {
    .inner-header {
      padding-left: 10vw;
      h1 {
        font-size: 2.5rem;
      }
    }
    footer {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem;
    }
  }
  
  @media screen and(max-width: map-get($grid-breakpoints, md)) {
    h1,
    h2 {
      text-align: center;
    }
    .inner-header {
      padding-left: 10vw;
      h1 {
        font-size: 1.8rem;
      }
    }
    .bodyNft {
      width: 90vw;
      padding: 1rem;
    }
    .cardPost {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr 1fr;
      grid-template-areas:
        "pic"
        "text"
        "p";
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        align-self: center;
        justify-self: center;
        width: 15rem;
        height: 10rem;
      }
    }
    .mainLoginRegister{
      padding: 4rem 0;
    }
  
    .formLoginRegister {
      width: 22rem;
      text-align: center;
    }
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
    .accordion-img{
      width: 90% !important;
    }
  }
  
  @media screen and(max-width: map-get($grid-breakpoints, sm)) {
    .inner-header {
      padding-left: 10vw;
      h1 {
        font-size: 1.2rem;
      }
    }
  }
  