/*Keyframes de animaciones*/

@keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  @keyframes monedas {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    30% {
    }
    40% {
    }
    50% {
    }
    60% {
    }
    70% {
    }
    80% {
    }
    90% {
    }
    100% {
      opacity: 0;
    }
  }
