/*Settings iniciales*/

:root{
    --negro: #0E0B16;
    --rosa: #A239CA;
    --azul: #4717F6;
    --link: #802ca1;
    --blanco: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu';
    background-color: var(--negro);
    color: var(--blanco);
    overflow-x: hidden;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--blanco);
    transition: all 0.2s;
}

a:hover{
    color: var(--link);
}

/*Header*/
/*Modificando clases de bootstrap*/
.navbar-expand-lg{
    border-radius: 0 0 3rem 0;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.container-fluid{
    display: flex;
    gap: 3rem;
    padding: 0 2rem;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 500;
}

.navbar-nav{
    gap: 2rem;
}
/*Mis clases*/
.navBarItemLink{
    text-decoration:none;
    color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navBarItemIcon{
    font-size: 1.8rem;
    transform: translateY(1rem);
    transition: all 1s;
}

.navBarItemText{
    opacity: 0;
    transition: all 1s;
    font-weight: 500;
}

.navBarItemLink:hover .navBarItemIcon{ /*Efecto en el nav*/
    transform: translateY(0);
    color: var(--azul);
    fill: var(--azul);
}

.navBarItemLink:hover .navBarItemText{ /*Efecto en el nav*/
    opacity: 1;
    color: var(--azul);
}

#selected .navBarItemIcon{ /*Mantiene diferente el icono de la pagina seleccionada*/
    fill: var(--rosa);
    color: var(--rosa);
    transform: translateY(0);
}

#selected .navBarItemText{
    color: var(--rosa);
    opacity: 1;
}

.LogIn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

.LogInButton{
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

#register{ /*Darle color al boton de register*/
    background-color: var(--rosa);
    color: var(--blanco);
}

/*Index*/

.mainCripto{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabeceraCripto{
    background-image: url("../media/BTCBackHorizontal.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    gap: 5rem;
}

.Bitcoin{
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title ion-icon{
    font-size: 3rem;
    color: #F7931A;
}

.title h1{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
    letter-spacing: 1.5rem;
}

.price p{
    background-color: #0e0b16a4;
    padding: 1rem;
    border-radius: 1rem;
    color: gray;
    width: 25rem;
}

.coloredButton{
    width: 25rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: var(--rosa);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
}

.coloredButton:hover{
    background-color: var(--link);
}

.uncoloredButton{
    width: 20rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: #161222;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
}

.moreInfoCripto{
    margin: 0 10vw;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.moreInfoCriptoTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.moreInfoCriptoTitle img{
    width: 3rem;
}

.accordion{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.acordionBox{
    border-radius: 0.2rem 2rem 2rem 2rem;
    padding: 1rem;
    font-family: ubuntu;
}

.accordion-button{
    font-size: 1.2rem;
}

/*Footer*/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #261E3C;
    margin-top: 7rem;
    padding: 2rem;
    justify-content: center;
}

#footer{ /*Esto es para que no se muestre el footer sin precionar el boton en el index*/
    display: none;
}

.credits{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
}

.credits a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.credits a svg{
    width: 3em;
    height: 3em;
    fill: gray;
    transition: all 0.5s;
}

.credits a p{
    color: gray;
    transition: all 0.5s;
}

.credits a:hover svg{
    fill: var(--blanco);
}

.credits a:hover p{
    color: var(--blanco);
}

.community{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.communityLogos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-size: 1.8rem;
}

.communityLogos a{
    color: gray;
    transition: all 0.5s;
}

.communityLogos a:hover{
    color: var(--blanco);
}

.license{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.license p{
    color: gray;
}

/*Register y Login*/

.mainLoginRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 100vh;
}

.formLoginRegister{
    width: 30rem;
    height: auto;
    background-color: #261E3C;
    color: var(--negro);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.formLoginRegister label{
    background-color: #1e1830;
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLoginRegister label .icon{
    width: 50%;
    height: 100%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171324;
}

.formLoginRegister label .icon ion-icon{
    font-size: 1.5rem;
}

.formLoginRegister label input{
    width: 150%;
    height: 100%;
    color: gray;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1a30;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    transition: all 0.5s;
}

.formLoginRegister label:hover input{
    background-color: #161222;
    -webkit-appearance: none;
}

.formLoginRegister input:focus{
    background-color: #161222;
    border: none;
    outline: 0;
}
/*Eliminar los botones de cambiar numero en el imput number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.formLoginRegister button{
    width: 70%;
    height: 3rem;
    background-color: var(--rosa);
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formLoginRegister button:hover{
    background-color: var(--link);
}

.formLoginRegister button ion-icon{
    font-size: 2rem;
}

.formLoginRegister a{
    color: var(--rosa);
    text-decoration: none;
    
}

.formLoginRegister a:hover{
    text-decoration: underline;
}

.ilustracion{
    width: 40rem;
}

/*NFT*/

.cabeceraNFT{
    width: 100%;
    height: 100vh;
    background-image: url("../media/NFTBack1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.cabeceraNFT h1{
    font-size: 3.5rem;
}

.cabeceraNFT h1 span{
    color: var(--rosa);
}

.cabeceraNFT p{
    font-size: 1.2rem;
}

.nftsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.nftsTitle img{
    width: 20vw;
    border-radius: 3rem;
    transition: all 0.5s;
    box-shadow: 19px 47px 80px rgba(255, 4, 234, 0.089);

}

.nftsTitle img:hover{
    border-radius: 1rem;
}

.catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 4rem 2rem 6rem;
    gap: 2rem;
}

.catalogo article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #261E3C;
    width: 60vw;
    border-radius: 2rem;
}

.catalogo article img{
    width: 3rem;
    border-radius: 50%;
}

.catalogoArticleTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*blockchain*/

.mainBlockchain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabeceraBlockchain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    background-image: url("../media/BlockchainBack1.png");
}

.cabeceraBlockchain h1{
    font-size: 3.5rem;
}

.cabeceraBlockchain p{
    font-size: 1.2rem;
}

.contentBlockchain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.contentBlockchain h3{
    font-size: 1.5rem;
    margin: 1.2rem;
    border-bottom: 0.13rem solid var(--rosa);
    display: inline;
}

.contentBlockchain p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#videoBlockchain h3{
    display: block;
}

#videoBlockchain iframe{
    width: 80vw;
    margin-bottom: 4rem;
}

/*About*/
.cabeceraAbout{
    width: 100%;
    height: 100vh;
    background-image: url("../media/AboutBack1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding-top: 5rem;
}

.cabeceraAbout h1{
    font-size: 3rem;
    text-align: center;
}

.cabeceraAbout h1 span{
    color: var(--rosa);
}

.citas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.cita{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "arroba who"
        "arroba cuote"
    ;
}

.cita ion-icon{
    font-size: 2.5rem;
    grid-area: arroba;
    justify-self: flex-end;
}

.cita h4{
    grid-area: who;
}

.cita q{
    grid-area: cuote;
}

.contentAbout{
    margin: 1rem 20rem;
}

.work{
    margin-top: 4rem;
}

/*Help*/
.mainHelp{
    width: 100vw;
    padding-top: 10rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.questionsHelp{
    width: 60vw;
}

.titleContentAbout{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.titleContentAbout ion-icon{
    font-size: 2.5rem;
}

#borderModify{
    border-radius: 0.5rem 5rem 2rem 5rem;
}

@media screen and (max-width: 1024px){
    .header{
        padding: 4rem 1rem 1rem 2rem;
    }

    .navBar{
        gap: 1.5rem;
    }
    /*Index*/

    .imgGrafica{
        width: 80vw;
    }

    .community{
        gap: 1rem;
    }

    .cabeceraNFT h1{
        font-size: 2rem;
    }

    .cabeceraNFT p{
        font-size: 1.1rem;
    }

    .nftsTitle img{
        width: 25vw;
        border-radius: 2rem;
    }

    .catalogo article{
        width: 80vw;
    }

    .contentBlockchain h3{
        font-size: 1.2rem;
    }

    iframe{
        height: 20rem;
    }

    .mainLoginRegister object{
        display: none;
    }

    .formLoginRegister{
        width: 25rem;
    }
}

@media screen and (max-width: 768px){
    .header{
        justify-content: center;
    }

    .LogIn{
        display: none;
    }

    .navBarItemLink{
        flex-direction: row;
    }

    .navBarItemIcon{
        transform: translateY(0);
    }
    
    .navBarItemText{
        opacity: 1;
    }

    .cabeceraCripto{
        background-image: url("../media/BTCBackVertical.png");
        background-position: center;
    }

    .title{
        font-size: 2rem;
    }

    .title h1{
        font-size: 1.8rem;
    }

    .Bitcoin{
        width: 25rem;
        padding: 1rem;
    }

    .price p, .coloredButton{
        width: 22rem;
    }

    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .cabeceraNFT{
        gap: 2rem;
    }

    .cabeceraNFT h1{
        font-size: 1.5rem;
    }

    .cabeceraNFT p{
        display: none;
    }

    .nftsTitle img{
        flex-direction: column;
        width: 30vw;
    }

    .catalogo article{
        width: 70vw;
        flex-direction: column;
        gap: 0.5rem;
    }

    .catalogo article img{
        width: 1.5rem;
    }

    .catalogoArticleTitle{
        display: flex;
        justify-content: flex-start;
        gap: 0.2rem;
    }

    .catalogoArticleTitle h2{
        font-size: 1.1rem;
    }

    .cabeceraBlockchain{
        margin: 0 1rem;
    }

    .cabeceraBlockchain h1{
        font-size: 2rem;
    }

    .cabeceraBlockchain p{
        font-size: 1rem;
    }

    .cabeceraAbout h1{
        font-size: 2rem;
    }

    .contentAbout{
        margin: 1rem 5rem;
    }

    .titleContentAbout h2, ion-icon{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px){

    .title{
        font-size: 1.5rem;
    }

    .title h1{
        font-size: 1.5rem;
    }

    .Bitcoin{
        width: 22rem;
    }

    .price p, .coloredButton{
        width: 20rem;
    }

    .cabeceraBlockchain p{
        text-align: center;
    }

    .cabeceraAbout h1{
        font-size: 1.5rem;
    }

    .contentAbout{
        margin: 1rem 1.5rem;
    }

    .titleContentAbout h2{
        font-size: 1.2rem;
    }

    .titleContentAbout ion-icon{
        font-size: 1.5rem;
    }

    .work{
        margin-top: 6rem;
    }
}
/*
Por lo general, se utiliza:
480px y menor celulares
768px y menor tablets
1024px y menor tablets landscape
1600px y menor laptop
mayor a 1600px desktop
*/